@import "variables";

.workday-notes-list {
    .workday-note {
        margin-top: 16px;

        textarea {
            width: 100%;
            border: 0;
        }

        .btn-salvar {
            display: none;
        }

        input {
            width: 100%;
        }

        .titulo {
            border: 0;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 4px;
            padding: 4px;

            &:focus {
                border: unset;
            }
        }
    }
}

.workday-slot {
    margin-top: 8px;
    margin-bottom: 32px;

    .head {
        background-color: rgb(38, 7, 105);
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .data {
            color: white;
            font-size: 24px;
            padding: 8px;
            font-weight: bold;
        }

        .actions {
            margin-left: 16px;

            .action {
                padding: 6px 10px;
                border-radius: 5px;

                &:hover {
                    background-color: rgba(89, 52, 212, 0.698);
                }
            }

            .nova-nota {
                border: 0;
                background-color: transparent;

                position: relative;

                .icon {
                    width: 16px;
                }

                .icon-x {
                    width: 16px;
                    position: absolute;
                    right: 3px;
                    top: 3px;
                }
            }
        }
    }

    .project-list {
        padding-top: 8px;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        background-color: rgba(138, 96, 255, 0.239);

        .workday-project {
            margin-bottom: 4px;
            margin-left: 4px;
            padding: 8px;
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: flex-start;
            background-color: transparent;
            transition: all ease-in 0.3s;

            border-radius: 3px;

            img {
                width: 35px;
                margin-right: 8px;
            }

            &:hover {
                background-color: rgba(196, 179, 255, 0.342);
                transition: all ease-in 0.3s;
            }
        }
    }
}

.main-header {
    min-width: 100vw;
    background-color: rgb(118, 85, 190);
    margin-bottom: 8px;

    .nav-link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 4px;

        .title {
            color: white;
        }
    }

    svg {
        width: 35px;
        margin-right: 8px;
        transition: all 0.25s ease-in;
        padding: 4px;
        opacity: 0.7;

        fill: rgb(255, 255, 255);
    }

    .nav-item:hover {
        background-color: rgba(0, 0, 0, 0.178);
        border-radius: 4px;
        transition: all 0.1s ease-out;
        svg {
            width: 35px;
            padding: 0px;
            opacity: 1;

            &.workday {
                fill: rgb(236, 20, 89);
            }

            &.projects {
                fill: rgb(20, 186, 236);
            }

            &.skills {
                fill: rgb(236, 171, 20);
            }

            &.acessos {
                fill: rgb(20, 236, 38);
            }
        }
    }
}

.project-list {
    display: flex;
    flex-wrap: wrap;

    .slot {
        margin-top: 8px;
        margin-left: 8px;

        .head {
            padding: 8px;
            border-radius: 4px;
            background-color: rgba(107, 43, 226, 0.144);

            cursor: pointer;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: rgba(187, 151, 255, 0.616);
                transition: all 0.1 ease-in;
            }
        }

        .logo {
            height: 50px;
            width: auto;
        }
    }

    .access-slot {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        padding: 0px 16px;

        .wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;

            &.address {
                color: rgb(22, 98, 221);
            }

            &.user {
                color: rgb(60, 170, 16);
            }

            &.password {
                color: rgb(177, 13, 13);
            }
        }

        input {
            width: 100%;
            border: 0;
            padding-left: 4px;

            &.title {
                font-weight: bold;
            }
        }
    }
}

#modal-associate-note-to-skill {
    .img-flag {
        width: 55px;
    }

    .select2-selection__choice {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        .sl2-skill-slot {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

.skill-listing {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    padding: 8px;

    .slot {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 16px;
        margin-top: 16px;
        cursor: pointer;

        .icone {
            border-radius: 4px;
            height: 64px;
            width: auto;
            padding: 4px;
            transition: all 0.35s ease-in;
        }

        .titulo {
            margin-top: 2px;
            transition: all 0.35s ease-in;
        }

        padding-bottom: 8px;
        transition: all 0.35s ease-in;
        &:hover {
            padding-bottom: 4px;
            transition: all 0.2s ease-out;

            .icone {
                padding: 0px;
                transition: all 0.2s ease-out;
            }

            .titulo {
                margin-top: 6px;
                transition: all 0.2s ease-out;
            }
        }
    }
}

.skill-modal {
    .modal-dialog {
        max-width: 1000px !important;
    }

    .modal-header {
        align-items: center;
        .title-icon {
            margin-right: 16px;
            height: 40px;
            width: auto;
        }
    }

    .modal-body {
        .title-index {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            border-bottom: 1px solid #85878a;
            padding: 8px 4px;

            .slot {
                margin-top: 4px;
                padding: 2px 2px;
                cursor: pointer;
                transition: all 0.3s ease-in;

                .title {
                }
                .icon {
                    width: auto;
                    height: 15px;

                    margin-right: 4px;
                }

                &:hover {
                    text-decoration: none;
                    transition: all 0.15s ease-out;

                    background: rgba(247, 251, 253, 1);
                    background: -moz-linear-gradient(
                        top,
                        rgba(247, 251, 253, 1) 0%,
                        rgba(79, 196, 232, 1) 10%,
                        rgba(177, 228, 246, 1) 24%,
                        rgba(177, 228, 246, 1) 77%,
                        rgba(79, 196, 232, 1) 87%,
                        rgba(247, 251, 253, 1) 100%
                    );
                    background: -webkit-gradient(
                        left top,
                        left bottom,
                        color-stop(0%, rgba(247, 251, 253, 1)),
                        color-stop(10%, rgba(79, 196, 232, 1)),
                        color-stop(24%, rgba(177, 228, 246, 1)),
                        color-stop(77%, rgba(177, 228, 246, 1)),
                        color-stop(87%, rgba(79, 196, 232, 1)),
                        color-stop(100%, rgba(247, 251, 253, 1))
                    );
                    background: -webkit-linear-gradient(
                        top,
                        rgba(247, 251, 253, 1) 0%,
                        rgba(79, 196, 232, 1) 10%,
                        rgba(177, 228, 246, 1) 24%,
                        rgba(177, 228, 246, 1) 77%,
                        rgba(79, 196, 232, 1) 87%,
                        rgba(247, 251, 253, 1) 100%
                    );
                    background: -o-linear-gradient(
                        top,
                        rgba(247, 251, 253, 1) 0%,
                        rgba(79, 196, 232, 1) 10%,
                        rgba(177, 228, 246, 1) 24%,
                        rgba(177, 228, 246, 1) 77%,
                        rgba(79, 196, 232, 1) 87%,
                        rgba(247, 251, 253, 1) 100%
                    );
                    background: -ms-linear-gradient(
                        top,
                        rgba(247, 251, 253, 1) 0%,
                        rgba(79, 196, 232, 1) 10%,
                        rgba(177, 228, 246, 1) 24%,
                        rgba(177, 228, 246, 1) 77%,
                        rgba(79, 196, 232, 1) 87%,
                        rgba(247, 251, 253, 1) 100%
                    );
                    background: linear-gradient(
                        to bottom,
                        rgba(247, 251, 253, 1) 0%,
                        rgba(79, 196, 232, 1) 10%,
                        rgba(177, 228, 246, 1) 24%,
                        rgba(177, 228, 246, 1) 77%,
                        rgba(79, 196, 232, 1) 87%,
                        rgba(247, 251, 253, 1) 100%
                    );
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfd', endColorstr='#f7fbfd', GradientType=0 );
                }
            }
        }

        .note-slot {
            margin-top: 8px;

            .note-title {
                width: 100%;
                text-align: center;
                font-weight: bold;
                border: 0;
            }
            .note-content {
                margin-top: 4px;
                width: 100%;
                border: 0;
                padding-bottom: 4px;
                border-bottom: 1px solid #85878a;
            }

            transition: all 0.3s ease-in;
            box-shadow: #ff8d00 0px 0px 0px 0px;

            &.highlited {
                transition: all 0.15s ease-out;
                box-shadow: #ff8d00 0px 5px 14px 0px;
            }
        }

        .block-slot {
            margin-top: 8px;

            .title {
                width: 100%;
                text-align: center;
                font-weight: bold;
                border: 0;
            }
            .content {
                margin-top: 4px;
                width: 100%;
                border: 0;
                padding-bottom: 4px;
                border-bottom: 1px solid #85878a;
            }

            transition: all 0.3s ease-in;
            box-shadow: #ff8d00 0px 0px 0px 0px;

            &.highlited {
                transition: all 0.15s ease-out;
                box-shadow: #ff8d00 0px 5px 14px 0px;
            }
        }
    }

    .modal-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .page-icon {
            fill: white;
            height: 25px;
            width: auto;
        }
    }

    .modal-footer .actions,
    .modal-actions {
        button {
            padding: 4px 8px;
            border: 0;
            background-color: rgb(230, 227, 227);
            border-radius: 5px;
            margin-right: 4px;

            svg {
                height: 25px;
                width: auto;
                padding: 2px;
                transition: all ease-in 0.25s;
                fill: rgb(140, 87, 253);
            }

            &:hover {
                svg {
                    padding: 0;
                    transition: all ease-in 0.15s;
                }
            }
        }
    }

    .modal-actions {
        padding: 1rem 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid #85878a;
    }
}

#alert-container {
    position: fixed;
    top: 72px;
    z-index: 123;
}

#alert {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
