.skill-slot{
    margin-right: 8px;
    margin-top: 8px;
    padding: 8px;
    background-color: rgb(223, 223, 223);
    border-radius: 5px;

    a:hover{
        text-decoration: none;
    }
}


.block-slot{
    border: 1px solid rgb(222, 201, 224);
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 800px;
    margin-bottom: 32px;

    .actions{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 2px 4px;
        background-color: #d1c7ee;

        span{
            margin-right: 4px;
        }

        svg{
            width: 25px;
            height: auto;
            max-height: 25px;
            padding: 4px;
            transition: all 0.2s ease;

            &:hover{
                width: 27px;
                height: auto;
                padding: 0px;
                transition: all 0.2s ease;
            }
        }
    }

    .block-title-input{
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        border: 0;
    }

    .skill-logos{
        padding: 2px 0px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}

.note-slot{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #cccccc;
    padding-top: 4px;
    margin-top: 4px;

    .corpo{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .actions{
        background-color: #ece8f7;
    }    

    .note-title-input{
        text-align: center;
        width: 100%;
    }
    .note-content-input{
        width: 100%;
    }

    .note-title{
        font-weight: 700;
        font-size: 24px;
        width: 100%;
        text-align: center;
    }

    .note-content{   
        margin-top: 4px;
        width: 100%;
        white-space: pre-wrap;
    }

    img.note-content{
        width: 250px;
    }
}

.hidden{
    display: none;
}