.actions{
    svg{
        height: 20px;
        width: auto;
    }
}

.skill-slot{
    margin-right: 8px;
    margin-top: 8px;
    padding: 8px;
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
    flex-direction: column;

    img{
        margin-right: 4px;
    }

    a:hover{
        text-decoration: none;
    }
}


.skill-sidebar{
    background-color: rgb(255, 255, 255);
    padding: 8px 4px;
    border: 1px solid rgb(209, 209, 209);
    margin-right: 8px;
    .slot{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        min-height: 40px;
        padding: 3px;
        margin: 2px 0px;
        cursor: pointer;
        background-color: transparent;
        transition: all 0.3s ease-out;
        position: relative;

        .sidebar-skill-icon{
            height: 40px;
            display: flex; 
            justify-content: center; 
            align-items: center;   
        }

        &:hover{
            transition: all 0.15s ease-out;

            .face{
                img{
                    transition: all 0.3s ease-out;
                    height: 35px!important;
                    margin-right: 3px!important;
                }
                
                &:hover{
                    background-color: plum;
                    transition: all 0.15s ease-out;
                }
            }
        }

        &.active{
            background-color: rgb(194, 160, 221);
            transition: all 0.15s ease-out;
            img{
                transition: all 0.3s ease-out;
                height: 35px!important;
                margin-right: 3px!important;
            }
        }

        .head{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .face{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex: 1;
                
                .img-wrapper{
                    min-width: 35px;
                }
            }

            .actions{
                width: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                .action{
                    width: 25px;
                }
            }
        }

        &>.gaveta .childrens{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .children-slot{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;

                &:hover{
                    background-color: plum;
                    transition: all 0.15s ease-out;
                }
            }
        }
    }
}

html {
    scroll-behavior: smooth;
  }

.main-section{
    display: flex;
    
    .main-body{
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        flex-direction: column;

        .skill-contents{
            display: flex;
            justify-content: flex-start;
            align-content: center;
            flex-direction: column;
        }
    }
}

.block-skill-link{
    padding: 2px;
    border-radius: 8px;
    background-color: #00000000;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        height: 20px; 
        width: auto; 
        margin-right: 4px;
    }

    &:hover{
        background-color: #0012423d;
    }
}

.block-slot{
    border: 1px solid rgb(222, 201, 224);
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 850px;
    margin-bottom: 32px;
    position: relative;

    .actions{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 2px 4px;
        background-color: #d1c7ee;
        border: 1px solid rgb(222, 201, 224);

        span{
            margin-right: 4px;
        }

        svg{
            width: 25px;
            height: auto;
            max-height: 25px;
            padding: 4px;
            transition: all 0.2s ease;

            &:hover{
                width: 27px;
                height: auto;
                padding: 0px;
                transition: all 0.2s ease;
            }
        }


        .toggler{
            position: absolute;
            bottom: 0;
            right: 0;

            svg{
                height: 30px;
                max-height: 30px;
                width: auto;
            }
        }

        .counter{
            color: white;
            background-color: black;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 25px;
            padding: 0px 4px;
            height: 26px;
            font-weight: bold;
        }

        .main{
            svg{
                width: 27px;
                height: auto;
                padding: 0px;
                transition: all 0.2s ease;
                margin-right: 8px;
            }
        }

        &.hidden{
            background-color: transparent;
            border: 1px solid transparent;

            svg{
                display: none;
            }
            .main{
                svg{
                    display: flex;
                    padding: 6px;
                }

                &:hover{
                    svg{
                        padding: 0px;
                    }   
                }
            }
        }
    }

    .block-title-input{
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        border: 0;
    }

    .skill-logos{
        padding: 2px 0px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}

.note-slot{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #cccccc;
    padding-top: 4px;
    margin-top: 4px;
    
    img{
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    .corpo{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .actions{
        background-color: #ece8f7;
    }    

    .note-title-input{
        text-align: center;
        width: 100%;
    }
    .note-content-input{
        width: 100%;
    }

    .note-title{
        font-weight: 700;
        font-size: 24px;
        width: 100%;
        text-align: center;
    }

    .note-content{   
        margin-top: 4px;
        width: 100%;
        white-space: pre-wrap;

        textarea{
            white-space: pre;
            width: 100%;
        }
    }

    img.note-content{
        width: 250px;
    }
}

.hidden{
    display: none;
}

.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;



    &.flex-column{
        &.x-left{
            align-items: flex-start;
        }

        &.y-top{
            justify-content: flex-start;
        }
    }
}