.workday-notes-list .workday-note {
  margin-top: 16px;
}

.workday-notes-list .workday-note textarea {
  width: 100%;
  border: 0;
}

.workday-notes-list .workday-note .btn-salvar {
  display: none;
}

.workday-notes-list .workday-note input {
  width: 100%;
}

.workday-notes-list .workday-note .titulo {
  border: 0;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 4px;
  padding: 4px;
}

.workday-notes-list .workday-note .titulo:focus {
  border: unset;
}

.workday-slot {
  margin-top: 8px;
}

.workday-slot .head {
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.workday-slot .head .data {
  color: white;
  font-size: 24px;
  padding: 8px;
  font-weight: bold;
}

.workday-slot .head .actions {
  margin-left: 16px;
}

.workday-slot .head .actions .action {
  padding: 6px 10px;
  border-radius: 5px;
}

.workday-slot .head .actions .action:hover {
  background-color: #535353;
}

.workday-slot .head .actions .nova-nota {
  border: 0;
  background-color: transparent;
  position: relative;
}

.workday-slot .head .actions .nova-nota .icon {
  width: 16px;
}

.workday-slot .head .actions .nova-nota .icon-x {
  width: 16px;
  position: absolute;
  right: 3px;
  top: 3px;
}

.workday-slot .project-list {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.workday-slot .project-list .workday-project {
  margin-bottom: 4px;
  margin-left: 4px;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  transition: all ease-in 0.3s;
}

.workday-slot .project-list .workday-project img {
  width: 35px;
  margin-right: 8px;
}

.workday-slot .project-list .workday-project:hover {
  background-color: #dbdbdb;
  transition: all ease-in 0.3s;
}

